body{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000000;
    width: 40%;
    text-align: center;
}

.login h2{
    margin-bottom: 20px;
    font-size: 35px;
}

.login h3{
    font-size: 20px;
}

.login p{
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
}

.login a{
    text-decoration: none;
}

.login input{
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efe5e5;
    outline: none;
    margin: 10px 0;
}

.login button{
    width: 50%;
    padding: 10px;
    background-color: rgb(65, 65, 246);
    color: #f5f5f5;
    border: 1px solid rgb(65, 65, 246);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0;
}

.login button:hover{
    background-color: #f5f5f5;
    color: rgb(65, 65, 246);
    border: 1px solid rgb(65, 65, 246);
}

.Mensagem {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}